/*

Developed by Medha Katehara.
 
Contact: medha.classilist@gmail.com

*/

html, body {
	width: 100%;
	min-height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.dont-display {
	display: none;
}

main{
	min-height: 100% !important;
}

.left-navigator {
	background-color: #312450;
	position:fixed;
	top:0px;
    bottom:0px;
    left:0px;
    margin:0px;
    overflow-y: auto;
}

.shift-right {
	position: absolute;
	right : 3em;
	left:1em;
}

.shift-right li a {
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 0.8em;
	width: 100%;
	padding: 0;
	padding-right: 7%;
	color : rgba(255, 255, 255, 0.35);
}

.shift-right li a:hover {
	padding: 0;
	padding-right: 7%;
	color : rgba(255, 255, 255, 0.55);
	border-right : 1px solid #ea4a4f;
	border-left : 0px;
}

.shift-right li a.active {
	padding: 0;
	padding-right: 7%;
	font-weight: bolder;
	color : #fff;
	border-right : 2px solid #ea4a4f;
	border-left : 0px;r
}

.col.content {
	padding: 0px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.content .section {
	min-height: 100% !important;
	overflow: auto;
	padding: 2% 8% 2% 8%;
}

.section-head {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 5em;
}

.section-body {
	font-family: 'Raleway', sans-serif;	
	font-size: 1.3em;
}

#home{
	background-color: #5e42a6;
	color: #fff;
}

#home .logo {
	opacity: 0.9;
	height: 128px;
	width: 128px;
}

#home h2 {
	margin-top: 1em;
	font-family:'Raleway', sans-serif;
	font-size: 10em;	
}

#home h4 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 3em;
}

#about{
	background-color: #f2c54e;
	color : #00695c;
}

#about span{
	font-weight: bolder;
}

#about a{
	font-weight: bolder;
	color: #00695c;
}

#about a:hover{
	text-decoration: underline;
}

#about .fa{
	font-weight: bolder;
	font-size: 0.5em;
	margin-left: 0.5em;
	margin-top: -0.5em;
}

#install{
	background-color: #a490d8;
	color : #263238;
}

#install .collapsible-header {
	background-color: #4B4966;
	color: #D3CDD7;
	font-size: 1em;
}

#install .collapsible-header.active {
	color : #fff;
}

#install .collapsible-body {
	background-color: #fff;
	color: #263238;
	font-size: 0.8em;
}

#install .collapsible-body h5 {
	margin: 0;
	padding: 1em;
}

#install .collapsible-body ul{
	margin: 0;
	padding: 2em;
	padding-top: 0;
}

#install .collapsible-body a{
	font-size: 0.9em;
	color: #4B4966;
	font-weight: bolder;
}

#install .fa-video-camera{
	color: #e52d27;
}

#install .collapsible-body .fa-caret-right{
	padding-right: 1em;
}

#install .code {
	font-family: 'Source Code Pro', monospace;
	font-size: 0.9em;
	padding: 0 0.5em;
}

#downloads{
	background-color: #fff;
	color: #312450;
}

#downloads table{
	margin-top: 2em;
}

#downloads table th {
	font-weight: bold;
	font-size: 1.3em;
}

#downloads table .component {
	font-weight: bolder;
	font-size: 0.9em;
}

#downloads table .comp-download {
	font-size: 0.8em;
}

#downloads table .comp-source {
	font-size: 0.8em;
}

#downloads table a {
	color: #312450;
}

#downloads table a:hover {
	text-decoration: underline;
}

#downloads .fa {
	margin-left: 0.5em;
	color: #205081;
}

#tutorials{
	background-color: #a490d8;
	color : #263238;
}

#tutorials .collapsible-header {
	background-color: #4B4966;
	color: #D3CDD7;
	font-size: 1em;
}

#tutorials .collapsible-header.active {
	color : #fff;
}

#tutorials .collapsible-body {
	background-color: #fff;
	color: #263238;
	font-size: 0.8em;
}

#tutorials .collapsible-body h5 {
	margin: 0;
	padding: 1em;
}

#tutorials .collapsible-body ul{
	margin: 0;
	padding: 2em;
	padding-top: 0;
}

#tutorials .collapsible-body a{
	font-size: 0.9em;
	color: #4B4966;
	font-weight: bolder;
}

#tutorials .fa-video-camera{
	color: #e52d27;
}

#tutorials .collapsible-body .fa-caret-right{
	padding-right: 1em;
}

#tutorials .code {
	font-family: 'Source Code Pro', monospace;
	font-size: 0.9em;
	padding: 0 0.5em;
}

#people{
	background-color: #f2c54e;
	color : #00695c;
}

#people img{
	width: 60%;
	height: auto;
}

#people .name {
	font-weight: bold;
	font-size: 1.5em;
}

#people .bio {
	font-size: 0.8em;
}

#people .desc {

}

#people .desc span{
	font-weight: bolder;
}

#people .fa {
	color: #205081;
	margin-left: 0.5em;
}

#contact{
	background-color: #5e42a6;
	color: #fff;
	padding-top: 10%;
}

#contact h5 {
	font-size: 1.5em;
}

#contact a {
	font-weight: bolder;
	color: #fff;
}

#contact .round-border-img {
	width: 10%;
	height: auto;
	border-radius: 15%;
	margin: 2em;
}
